html {
  font-family: "Poppins", sans-serif;
}

.theme-dark {
  background-color: black;
  color: white;
}
.theme-dark a {
  color: white;
}

.theme-light {
  background-color: white;
  color: black;
}
.theme-light a {
  color: black;
}

#nav-icon {
  margin-left: 0.69%;
  font-size: xx-large;
}

#theme-btn {
  float: right;
  background: none;
  border: none;
  padding: 0;
}
#theme-btn-img {
  vertical-align: middle;
  border-radius: 42.69%;
}

#nav-links {
  float: right;
  margin: 0.69rem 4rem;
  display: flex;
  column-gap: 2.2rem;
}
#nav-links a {
  text-decoration: none;
  font-size: larger;
}

#wah {
  text-align: center;
}
